
a#link-1:link {
    color:black;
}

a:visited{
    color: red;
}
a#link-4:hover {
    background-color: aqua;
}

div.tabela > .klient:first-child {
    background-color: aqua;
}

div.tabela > div.klient:last-child {
    background-color: red;
}

div.tabela div.klient:nth-child(5) {
    background-color: brown;
    
}

div.tabela :nth-child(4n+5) {
    background-color: pink;
}