

ul>li {
display: inline-block;
}


#p1{
    background-color: aqua;
}

#p2{
    background-color: red;
}


div#elementyblokowe > p{
    display: inline;
}
div#elementy-inline-blok > ul {
    text-align: center;
}


div#elementy-inline-blok > ul > li {
    display:inline-block;
    width:100px;
    height: 100px;
    background-color: red;
    margin-left: 10px;
    
}